.image {
  height: 3em;
  width: 3em;
  margin-left: -0.33em;
}

@media (--break-horizontal-min),
print {
  .profiles {
    white-space: nowrap;
    text-align: right;

  }
}

.name {
  padding-top: 0.5em;
  font-size: var(--header-size);
}

.addressLine {
  display: block;
}