.header {
  font-size: var(--header-size);
  font-family: var(--font__header);
  font-weight: lighter;
  white-space: nowrap;
  margin-top: -var(--header-margin-top);
}

@media (--break-horizontal-min),
print {
  .header {
    margin-top: var(--header-margin-top);
    text-align: right;
  }
}