.cvGrid {
  margin: 0;
  background: var(--color__subtle-off-white);
  padding: 4vw;
  display: grid;
  gap: var(--rhythm__vertical_2) var(--column-gap);
}

@media (--break-horizontal-min) {
  .cvGrid {
    padding: 4em;
  }
}

@media print {
  .cvGrid {
    width: 21cm;
    padding: 0.5cm 2cm;
    max-width: none;
  }
}

.technologyList {
  grid-column: main / end;
  column-count: 2;
  gap: 6.8em;
  white-space: nowrap;
}

@media (--break-medium-min),
print {
  .technologyList {
    column-count: 4;
  }
}