.list {
  grid-area: two-three;
  column-count: 2;
  column-gap: var(--column-gap);
  position: relative;
}

@media (--break-medium-min), print {
  .list {
    column-count: 3;
  }
}

.list::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.45rem;
  width: 100%;
  border-top: var(--section-decoration);
}
