@media screen {
  html {
    background: #888;
    font-size: 17px;
  }
}

@media print {
  html {
    font-size: 8pt;
  }
}

body {
  color: var(--color__body);
  font-family: "Theinhardt", sans-serif;
  line-height: var(--line-height__body);
  margin: var(--body-margin);
  padding: 0;
}

.divider {
  position: relative;
}

.divider::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.45rem;
  width: 100%;
  border-top: var(--section-decoration);
}

@page {
  width: 21cm;
  margin: 0.5cm;
}
