:root {
  --header-size: 1.6rem;
  --header-margin-top: 0.15rem;
  --line-height__body: 1.35rem;
  --line-height__header: 2.7rem;
  --column: auto;
  --column-gap: 3em;
  --font__info: "Theinhardt", sans-serif;
  --font__header: "Theinhardt", sans-serif;
  --color__body: rgba(0, 0, 0, 0.9);
  --color__subtle-off-white: #fafcfa;
  --color__ice: #4db0c4;
  --color__fire: #c47333;
  --color__prince: #c53fa6;
  --section-decoration: 0.075rem solid var(--color__ice);
  --rhythm__vertical: 1.35rem;
  --rhythm__vertical_half: 0.675rem;
  --rhythm__vertical_2: 2.7rem;
  --body-margin: 0;
}

@media (--break-horizontal-min) {
  :root {
    --body-margin: 1em auto;
  }
}