.paragraph {
  font-family: "Calluna", serif;
  font-size: 105%;
}

.paragraph+.paragraph:not(:first-of-type) {
  text-indent: 1em;
}

.bottomMargin {
  margin-bottom: var(--rhythm__vertical);
}

.item {
  list-style: outside;
  color: var(--color__fire);
}

.itemText {
  color: var(--color__body);
}