/*@use postcss-cssnext;*/

:root {
  --header-size: 1.75rem;
  --column: auto;
  --column-gap: 3em;

}
@font-face {
  font-family: 'Calluna';
  src: url('~//fonts/Calluna-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Calluna', serif;
  font-size: 19px;
}

.cv {
  padding: 2em;
  &__grid {
    max-width: 1200px;
    margin: 1em auto;
    display: grid;
  }
}

.grid {
  @media (min-width: 800px) {
    display: grid;
  }
  grid-template-columns: 2fr 1.5fr 3fr;
  grid-gap: var(--column-gap);
  &__sub {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-gap: var(--column-gap);
    grid-template-areas:
      "two three-four";
  }
}

.contact {
  @media (min-width: 800px) {
    grid-template-areas:
    "one two three";
  }
  &__primary {
    @media (min-width: 800px) {
      grid-area: one;
      white-space: nowrap;
      text-align: right;
    }
  }
  &__name {
    font-size: var(--header-size);
  }
  &__address {
    grid-area: two;
  }
  &__address-line {
    display: block;
  }
  &__summary {
    grid-area: three;
  }

}

.experience {
  grid-template-areas:
  "one two-three two-three";
  &__header {
    grid-area: one;
    font-size: var(--header-size);
    white-space: nowrap;
    text-align: right;
  }
  &__roles {
    grid-area: two-three
  }
}

.role {
  border-top: 1px solid cyan;
  &__header {
    grid-area: two;
  }
  &__description {
    grid-area: three;
  }
}

.technology {
    grid-template-areas:
    "one two-three two-three";
    &__header {
      grid-area: one;
      font-size: var(--header-size);
      white-space: nowrap;
      text-align: right;
    }
    &__list {
      grid-area: two-three;
      column-count: 3;
      column-gap: var(--column-gap);
    }
}

ul, li {
  list-style: none;
  padding: 0;
}

