.App {
  text-align: center;
@font-face {
  font-family: 'Calluna';
  src: url('~//fonts/Calluna-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
body {
  font-family: 'Calluna', serif;
  font-size: 19px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  }

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  }
