@media screen {
  .cubeWrapper {
    max-width: 1200px;
    min-height: 100lvh;
    margin: auto;
  }

}

.cube {
  background: var(--color__subtle-off-white);
  min-height: 100lvh;
}

@media screen and (--break-horizontal-min) {
  .cube {
    padding: 4em;
    view-transition-name: cube
  }
}