/*@use postcss-cssnext;*/

@import 'resets.css';
@import 'variables.css';
@import 'animations.css';
@import 'typography.css';
@import 'basics.css';
@import 'cube.css';
@import 'grid.css';
@import 'contact.css';
@import 'technology.css';


.role {
  margin-bottom: var(--rhythm__vertical);
  &__title {
    margin-bottom: 1.35rem;
  }
  &__name {
    &:not(:last-of-type){
      margin-bottom: 1.35rem;
    }
  }
  &__header {
    margin-bottom: 0;
  }
}

.section-header {
  font-size: var(--header-size);
  font-family: var(--font__header);
  font-weight: lighter;
  white-space: nowrap;
  margin-top: -var(--header-margin-top);
  padding-bottom: calc(var(--line-height__body) + var(--header-margin-top)) ;
  @media (--break-horizontal-min),
  print {
    margin-top: var(--header-margin-top);
    text-align: right;
  }
}

.paragraphs {
  &__p {
    font-family: 'Calluna', serif; 
    font-size: 105%; 
    &:not(:first-of-type) {
      text-indent: 1em;
    }
  }
}

.divider {
  position: relative; 
  &::before { 
    content: "";
    position: absolute;
    left: 0;
    top: -0.45rem;
    width: 100%;
    border-top: var(--section-decoration);
  }
}


@page {
  width: 21cm;
  margin: 0.5cm;
}
