.role {
    margin-bottom: var(--rhythm__vertical);
    &__title {
      margin-bottom: 1.35rem;
    }
    &__name {
      &:not(:last-child){ /* make more BEM? */
        margin-bottom: 1.35rem;
      }
    }
    &__website {
      @media (--break-vertical-max) {
        margin-bottom: 1.35rem;
      }
    }
    &__header {
      margin-bottom: 0;
    }
  }