.role {
  margin-bottom: var(--rhythm__vertical);
}

.header {
  margin-bottom: 0;
}

.title {
  margin-bottom: 1.35rem;
}

@media (--break-vertical-max) {
  .website {
    margin-bottom: 1.35rem;
  }
}
