.contact {
  &__image-holder {
    grid-area: two;
  }
  &__image { 
    height: 3em;
    width: 3em;
  }
  &__primary {
    grid-area: one;
    @media (--break-horizontal-min),
    print {
      white-space: nowrap;
      text-align: right;
    }
    &--methods {
      margin-bottom: var(--rhythm__vertical);
    }
  }

  &__name {
    padding-top: 0.5em;
    font-size: var(--header-size);
  }
  &__address {
    grid-area: two;
  }
  &__address-line {
    display: block;
  }
}