.grid {
  margin-bottom: var(--rhythm__vertical);
  /* background-position-y: -6px;
  background-image: linear-gradient(#ddd 0, #ddd 1px, transparent 1px);
  background-size: 21.55px 21.55px; */
  @media (--break-horizontal-min),
  print {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--column-gap);
    grid-template-areas: "one two-three two-three two-three";
  }
  &__header {
    grid-area: one;
  }
  &__main {
    grid-area: two-three
  }
  &__sub {
    @media (--break-medium-min),
    print  {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: var(--column-gap);
      grid-template-areas:
        "two three three";
    }
  }
  &__sub-info {
    grid-area: two;
    margin-bottom: var(--rhythm__vertical); 
  }
  &__sub-description {
    grid-area: three
  }
}
  