.icon {
    display: inline-flex;
    width: 1em;
    height: 1em;
    color: var(--color__ice);
    align-items: baseline;

}

.icon > svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}